---
import Countdown from "../Countdown.astro";
import Galaxy from "../Galaxy.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="The world is ending in ">
  <main
    class="w-[800px] max-w-[calc(100%_-_2rem)] text-white text-xl leading-[1.6] m-auto p-4 text-center"
  >
    <img
      src="./galactus-figure-refined.png"
      class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 -z-10 h-[70vh]"
    />

    <Countdown />

    <!-- epoch is the galactus progress tracker -->
    <p class="font-mono">
      until <a href="https://en.wikipedia.org/wiki/Galactus" class="font-bold"
        >galactus</a
      > consumes the entire universe
    </p>

    <Galaxy />
  </main>
  <footer>
    <a
      class="text-white font-mono text-xs"
      href="https://youtu.be/y8OnoxKotPQ?si=QxwIHoibBapzipPX&t=54">backstory</a
    >
  </footer>
</Layout>
