---

---

<div class="text-5xl flex gap-3 justify-center font-mono">
  <div class="[&_span]:font-semibold">
    <span id="days">0</span>d
  </div>
  <div class="[&_span]:font-semibold">
    <span id="hours">0</span>h
  </div>
  <div class="[&_span]:font-semibold">
    <span id="minutes">0</span>m
  </div>
  <div class="[&_span]:font-semibold">
    <span id="seconds">0</span>s
  </div>
</div>

<button class="bg-gray-500 rounded-full px-2 font-mono text-xs"> days</button>
<button class="font-mono text-xs">seconds</button>
<button class="font-mono text-xs">binary</button>

<script>
  const updateCountdown = () => {
    const int32max = 2147483647;
    if (!document) return;

    const now = new Date().getTime();
    const distance = int32max * 1000 - now;

    if (distance < 0) {
      clearInterval(countdownInterval);
      const countdownElement = document.getElementById("countdown");
      if (countdownElement)
        countdownElement.innerHTML = "<p>Countdown complete!</p>";
      return;
    }

    const days = Math.floor(distance / (1000 * 60 * 60 * 24));
    const hours = Math.floor(
      (distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60),
    );
    const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    const seconds = Math.floor((distance % (1000 * 60)) / 1000);

    const daysElement = document.getElementById("days");
    if (daysElement) daysElement.innerText = days.toString();
    const hoursElement = document.getElementById("hours");
    if (hoursElement) hoursElement.innerText = hours.toString();
    const minutesElement = document.getElementById("minutes");
    if (minutesElement) minutesElement.innerText = minutes.toString();
    const secondsElement = document.getElementById("seconds");
    if (secondsElement) secondsElement.innerText = seconds.toString();
  };

  const countdownInterval = setInterval(updateCountdown, 1000);
  updateCountdown();
</script>
